/*
@font-face {
	font-family: pnr;
    src: url('../fonts/f.eot');
    src: url('../fonts/f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/f.woff') format('woff'),
    url('../fonts/f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
*/

@font-face {
	font-family: hcb;
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
@font-face {
	font-family: hc;
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
@font-face {
	font-family: ib;
    src: url('../fonts/IntroHeadR-Base.eot');
    src: url('../fonts/IntroHeadR-Base.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IntroHeadR-Base.woff') format('woff'),
    url('../fonts/IntroHeadR-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }




